<!doctype html>
<html>
<head>
  <title>Datastore and Firebase Auth Example</title>
  
<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#config-web-app -->



<!-- The core Firebase JS SDK is always required and must be listed first -->
<!--<script src="https://www.gstatic.com/firebasejs/6.6.2/firebase-app.js"></script>-->

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->

<script src="https://cdn.firebase.com/libs/firebaseui/2.6.2/firebaseui.js"></script>
<link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/2.6.2/firebaseui.css">
   

<script src="{{ url_for('static', filename='script.js') }}"></script>
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>

  <!-- Insert these scripts at the bottom of the HTML, but before you use any Firebase services -->
  <!-- Firebase App (the core Firebase SDK) is always required and must be listed first -->
  <script src="https://www.gstatic.com/firebasejs/6.6.2/firebase-app.js"></script>

  <!-- Add Firebase products that you want to use -->
  <script src="https://www.gstatic.com/firebasejs/6.6.2/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/6.6.2/firebase-firestore.js"></script>


  <script>
    // Your web app's Firebase configuration
    var firebaseConfig = {
      apiKey: "AIzaSyBIeU0m9KIGcxeETbzI_SjntuIcfU9rM8I",
      authDomain: "apthwk5.firebaseapp.com",
      databaseURL: "https://apthwk5.firebaseio.com",
      projectId: "apthwk5",
      storageBucket: "apthwk5.appspot.com",
      messagingSenderId: "923398600719",
      appId: "1:923398600719:web:11e30c986fe54fcbadcb7a"
    };
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);
  </script>


  <h1>Datastore and Firebase Auth Example</h1>

  {% if user_data == None %}
    <h1>You're being logged in...</h1>
  {% endif %}

  <div id="firebaseui-auth-container"></div>
  
  <button id="sign-out" hidden=true>Sign Out</button>
  
  <div id="login-info" hidden=true>
    <h2>Login info:</h2>
    <div class="container">
        {% if user_data %}
        <dl>
          <div class="user">
              <div class="name">
                  <dt>Name: </dt><dd>{{ user_data['name'] }}</dd>
              </div>
              <div class="email">
                  <dt>Email: </dt><dd>{{ user_data['email'] }}</dd>
              </div>
          </div>        
          <div class="times" >
               <dt>Your Last 10 visits</dt>
               <dd>
                {% for time in times %}
                  <p class="time">{{ time['timestamp'] }}</p>
                {% endfor %} </dd>          
          </div>
        </dl>        
      {% elif error_message %}
        <p class="error">Error: {{ error_message }}</p>
      {% endif %}
    </div>    
  </div>



  
</body>
</html>
